.simple-badge {
	position: absolute;
	top: 5px;
	right: 0px;
	box-sizing: border-box;
	padding: 7px;
	border-radius: 3px;
	width: 100px;
	color: #000;
	background: #fff;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
	font-size: 12px;
	line-height: 1.3;
}

.simple-badge:hover .simple-badge__hint {
	opacity: 1;
	visibility: visible;
	transform: translate3d(-50%,-10%,0);
}

.simple-badge * {
	box-sizing: border-box;
}

.simple-badge_purple {
	color: #fff;
	background: #141547;
}

.simple-badge__spinner {
	position: relative;
	margin: 0 auto;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	font-size: 32px;
	animation: rodar 1.5s linear infinite;
}

.simple-badge__spinner::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset -3px 0 0 3px currentColor;
	clip: rect(0, 1em, 0.5em, 0);
	animation: rotator 1s infinite linear;
	left: 0;
}

.simple-badge__hint {
	position: absolute;
	z-index: 10;
	left: 50%;
	bottom: 100%;
	border-radius: 3px;
	width: 260px;
	color: #000;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
	transform: translate3d(-50%,-30%,0);
	transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.simple-badge__hint-in {
	position: relative;
	z-index: 1;
	padding: 7px;
	border-radius: 3px;
	background: #fff;
}

.simple-badge__hint:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 10px;
	height: 10px;
	background: #fff;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
	transform: rotate(45deg) translate3d(-50%,-50%,0);
	transform-origin: top left;
}

@keyframes rotator {
	0% {
		transform: rotate(-180deg);
		box-shadow: inset -3px 0 0 3px currentColor;
	}
	50% {
		transform: rotate(0deg);
		box-shadow: inset -1px 0 0 1px currentColor;
	}
	100% {
		transform: rotate(180deg);
		box-shadow: inset -3px 0 0 3px currentColor;
	}
}

.box {
	position: relative;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}

.box_lg {
	width: 100%;
	height: auto;
}

.badge {
	position: absolute; 
	left: 0; 
	right: 0;	
	margin-left: auto;	
	margin-right: auto; 
	top: 5px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 20px 30px 20px 20px;
	border-radius: 3px;
	max-width: 598px;
	color: #000;
	background: #fff;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
}

.badge * {
	box-sizing: border-box;
}

.badge_purple {
	color: #fff;
	background: #141547;
}

.badge__close {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	width: 20px;
	height: 20px;
	color: currentColor;
	background: none;
	cursor: pointer;
}

.badge__close:before,
.badge__close:after {
	content: '';
	position: absolute;
	top: 20%;
	border-radius: 1px;
	width: 86%;
	height: 2px;
	background: currentColor;
}

.badge__close:before {
	left: 20%;
	transform: rotate(45deg);
	transform-origin: left center;
}

.badge__close:after {
	right: 20%;
	transform: rotate(-45deg);
	transform-origin: right center;
}

.badge__title {
	font-size: 16px;
	line-height: 1.3;
}

.badge__group:after {
	content: '';
	display: block;
	clear: both;
}

.badge__label {
	float: left;
	padding: 5px 10px 5px 0;
	width: 140px;
	font-size: 16px;
	line-height: 1.3;
}

.badge__field {
	float: left;
	width: 240px;
}

.badge__select-wrapper {
	position: relative;
}

.badge__select-wrapper:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -3px;
	border-width: 6px 4px 0;
	border-color: #000 rgba(255,255,255,0) rgba(255,255,255,0);
	border-style: solid;
	pointer-events: none;
}

.badge__select {
	display: block;
	padding: 0 30px 0 10px;
	border: 1px solid #999;
	border-radius: 3px;
	outline: none;
	width: 100%;
	height: 30px;
	color: #000;
	background: #fff;
	font-family: inherit;
	font-size: 16px;
	line-height: normal;
	-webkit-appearance: none;
	appearance: none;
}