---
list: [
	{
		title: 'Unposted',
		value: '1',
		color: '#cc0000'
	},
	{
		title: 'Mismatched',
		value: '2',
		color: '#ff6600'
	},
	{
		title: 'Fully Matched',
		value: '7',
		color: '#82cc78'
	}
]
score: '10 out of 10 markets are analyzed'
scoreColor: '#3893d3'
info: [
	{
		title: 'Unposted Order(s) Details',
		background: '#3893d3',
		orders: [
			{
				main: [
					{ text: 'Amarillo' },
					{ text: 'Idoo Reference:' },
					{ text: '<a href="#" style="font-weight: 400;">MILLINGTON111418</a>' }
				],
				table: [
					[
						{ text: 'Total amount:' },
						{ text: '$ 700.00', color: '#cc0000' }
					],
					[
						{ text: 'Total QTY:' },
						{ text: '15', color: '#cc0000' }
					]
				]
			}
		]
	},
	{
		title: 'Mismatched Order(s) Details',
		background: '#3893d3',
		orders: [
			{
				main: [
					{ text: 'Dallas' },
					{ text: 'Idoo Reference:' },
					{ text: '<a href="#" style="font-weight: 400;">MILLINGTON111418</a>' }
				],
				headings: true,
				table: [
					[
						{ text: 'Total amount:' },
						{ text: '$ 1050.00', color: '#cc0000' },
						{ text: '$ 1000.00', color: '#cc0000' },
						{ text: 'Without display phones and increase of coast' }
					],
					[
						{ text: 'Total QTY:' },
						{ text: '50', color: '#cc0000' },
						{ text: '30', color: '#cc0000' },
						{ text: 'Without display phones' }
					]
				]
			},
			{
				main: [
					{ text: 'Abilene-Sweetwater' },
					{ text: 'Idoo Reference:' },
					{ text: '<a href="#" style="font-weight: 400;">OAKCOURT111418</a>' }
				],
				headings: true,
				table: [
					[
						{ text: 'Total amount:' },
						{ text: '$ 1000.00' },
						{ text: '$ 1000.00' }
					],
					[
						{ text: 'Total QTY:' },
						{ text: '50', color: '#cc0000' },
						{ text: '30', color: '#cc0000' }
					]
				]
			}
		]
	}
]
---
{% extends "layouts/_layout-emails.html" %}

{% block content %}
{% endblock %}
