---
list: [
	{
		title: 'Unposted',
		value: '0',
		color: '#cccccc',
		textColor: '#999999'
	},
	{
		title: 'Mismatched',
		value: '0',
		color: '#cccccc',
		textColor: '#999999'
	},
	{
		title: 'Fully Matched',
		value: '0',
		color: '#cccccc',
		textColor: '#999999'
	}
]
score: '10 out of 10 markets are analyzed'
scoreColor: '#3893d3'
info: [
	{
		title: 'Details',
		background: '#3893d3',
		text: 'There are no Idoo orders verify',
		icon: 'img/information.png',
		alt: '!'
	}
]
---
{% extends "layouts/_layout-emails.html" %}

{% block content %}
{% endblock %}
