---
list: [
	{
		title: 'Unposted',
		value: '1',
		color: '#cc0000'
	},
	{
		title: 'Mismatched',
		value: '0',
		color: '#cccccc',
		textColor: '#999999'
	},
	{
		title: 'Fully Matched',
		value: '7',
		color: '#82cc78'
	}
]
score: '8 out of 10 markets are analyzed'
scoreColor: '#cc0000'
info: [
	{
		title: 'Unposted Order(s) Details',
		background: '#3893d3',
		orders: [
			{
				main: [
					{ text: 'Amarillo' },
					{ text: 'Idoo Reference:' },
					{ text: '<a href="#" style="font-weight: 400;">MILLINGTON111418</a>' }
				],
				headings: true,
				table: [
					[
						{ text: 'Total amount:' },
						{ text: '$ 700.00', color: '#cc0000' }
					],
					[
						{ text: 'Total QTY:' },
						{ text: '15', color: '#cc0000' }
					]
				]
			}
		]
	},
	{
		title: 'Attention!',
		background: '#cc0000',
		icon: 'img/alert.png',
		alt: '!',
		description: [
			'Idoo credentials are not set for the <span style="color: #cc0000;">Houston</span> Market(s). Please configure the Idoo credentials for the market in the Dealer Portal.',
			'Idoo credentials are incorrect for the <span style="color: #cc0000;">Dallas</span> Market(s). Please configure the Idoo credentials for the market in the Dealer Portal.'
		]
	}
]
---
{% extends "layouts/_layout-emails.html" %}

{% block content %}
{% endblock %}
