---
title: 'order magic help'
headerLogo: true
home: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="v-help">
		<div class="v-help__description">
			<p>Please install Order Magic plugin to be able to create orders in Wireless Standard automatically. Please click <a href="#">here</a> to install..</p>
			<p>How to install:</p>
		</div>
		<div class="v-help__slider js-slider">
			<div class="v-help__slide">
				<img src="img/installPlugin.png" alt="first step">
			</div>
			<div class="v-help__slide">
				<img src="img/installPlugin2.png" alt="second step">
			</div>
		</div>
		<div class="v-help__description">
			<p>After plugin is installed, the Alphacomm site will be automatically opened. If it is not opened automatically, please click <a href="#">here</a> to continue.</p>
		</div>
	</div>
{% endblock %}	