---
title: Index page
headerLogo: true
navActive: 1
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="description">
		<p><strong class="color-primary">Welcome to Order Magic</strong>, your Inventory Management assistant</p>
		<p>Now you can:</p>
		<ul>
			<li>Create Alphacomm Purchase Orders in Wireless Standard - double entry no longer needed!</li>
			<li>Create and receive Idoo Purchase Orders into your Wireless Standard Inventory!</li>
		</ul>
		<p>Sometimes your business needs a little Magic!</p>
	</div>
	
{% endblock %}
