---
title: Index page
headerLogo: true
navActive: 1
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="home">
		<div class="description home__description">
			<p class="text-center"><strong class="color-primary">Welcome to Order Magic</strong>, <br>your Inventory Management assistant</p>
			<p>Now you can:</p>
			<ul>
				<li>Create and receive Idoo Purchase Orders into your Wireless Standard Inventory!</li>
				<li>Create Alphacomm Purchase Orders in Wireless Standard - double entry no longer needed!</li>
			</ul>
			<p>Fully Mobile & Multi-Platform Access</p>
			<div class="description__magic-cart">
				{{mixins.icon('magic-cart')}}
			</div>
		</div>
		<div class="footnote home__footnote">
			<div class="footnote__inner">
				<p>Sometimes your business needs a little <span>Magic</span>!</p>
			</div>
		</div>
	</div>
	
{% endblock %}
