---
title: Index page
headerLogo: true
navActive: 1
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="home">
		<div class="description">
			<p class="text-center"><strong class="color-primary">Welcome to Order Magic</strong>, <br>your Inventory Management assistant</p>
			<p>Now you can:</p>
			<ul>
				<li>Create and receive Idoo Purchase Orders into your Wireless Standard Inventory!</li>
				<li>Create Alphacomm Purchase Orders in Wireless Standard - double entry no longer needed!</li>
			</ul>
			<p>Fully Mobile & Multi-Platform Access</p>
			<div class="description__magic-cart">
				{{mixins.icon('magic-cart')}}
			</div>
			<div class="description__logos">
				<div class="description__logo description__logo_sm description__logo_inline">
					<img src="img/metropcs.svg" alt="MetroPCS">
				</div>
				<div class="description__logo description__logo_sm description__logo_inline description__logo_t-mobile">
					<img src="img/t-mobile.svg" alt="T-Mobile">
				</div>
				<!-- <div class="description__logo description__logo_sm description__logo_inline description__logo_md description__logo_alphacomm">
					<img src="img/alphacomm.svg" alt="Alphacomm">
				</div> -->
			</div>
		</div>
		<div class="footnote home__footnote">
			<div class="footnote__inner">
				<p>Sometimes your business needs a little <span>Magic</span>!</p>
			</div>
		</div>
	</div>
	
{% endblock %}
