---
title: Index page
headerLogo: true
navActive: 1
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="description">
		<p>Welcome to Order Magic, your Inventory Management assistant.</p>
		<p>For the first time ever, you can now receive inventory from Idoo and Alphacomm on the fly!</p>
		<p>With our state-of-the-art App, you can access Order Magic from any PC with a Chrome browser simply by installing the plugin from the Google Play store.</p>
		<p>That’s not all, we have even made this amazing feature mobile friendly, which means you can download the app on your iOS or Android device and create and receive Purchase Orders from anywhere!</p>
		<p>Take advantage of the Order Magic today:</p>
		<ul>
			<li>- Avoid double entry by creating Alphacomm Purchase Orders in Wireless Standard</li>
			<li>- Create and receive Idoo Purchase Orders, including the serialized devices, accurately into your Wireless Standard Inventory.</li>
		</ul>
		<p>Sometimes your business needs a little Magic!</p>
		<p>OR</p>
		<p>A little magic can take your business a long way!</p>
	</div>
	
{% endblock %}
