---
title: Index page
headerLogo: true
navActive: 1
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="description">
		<p><strong class="color-primary">Welcome to Order Magic</strong>, your Inventory Management assistant</p>
		<p>Now you can:</p>
		<ul>
			<li>Create Alphacomm Purchase Orders in Wireless Standard - double entry no longer needed! </li>
			<li>Create and receive Idoo Purchase Orders into your Wireless Standard Inventory!</li>
		</ul>
		<p>Feel Free, More Mobile, Do It From Anywhere:</p>
		<ul>
			<li>In Wireless Standard Desktop - locate Order Magic in Inventory Center</li>
			<li>On Any PC with Chrome Browser - install plugin from Google Play</li>
			<li>On Your iPhone or Android – download IOS or Android app</li>
		</ul>
		<p>Sometimes your business needs a little Magic!</p>
		<div class="description__logos">
			<div class="description__logo description__logo_wide">
				<img src="img/metropcs.svg" alt="MetroPCS">
			</div>
			<div class="description__logo description__logo_inline description__logo_md">
				<img src="img/t-mobile.svg" alt="T-Mobile">
			</div>
			<div class="description__logo description__logo_inline description__logo_md">
				<img src="img/alphacomm.svg" alt="Alphacomm">
			</div>
		</div>
		<div class="description__magic-cart">
			{{mixins.icon('magic-cart')}}
		</div>
	</div>
	
{% endblock %}
