---
title: Index page
headerLogo: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<form action="/" class="form">
		{{mixins.group({
			label: 'Vendor',
			value: [ 'Alphacomm' ]
		})}}
		{{mixins.group({
			label: 'Select Stores',
			select: {
				options: [
					'Main Store',
					'Not Main Store',
					'My Awesome Store',
					'Other Store',
					'Store with longlonglonglonglonglonglong name',
					'Some Store',
					'What is this?',
					'Stuff'
				]
			}
		})}}
		{{mixins.group({
			label: 'Order #',
			input: {
				attrs: 'value="1234" readonly'
			}
		})}}
		{{mixins.group({
			label: 'Order summary',
			value: [
				'Total items: 140',
				'Total SKU: 30',
				'Total amount: $700.00'
			]
		})}}
		<div class="form__submit form__submit_multiple">
			<button class="btn btn_wide form__btn" type="submit">Send</button>
			<button class="btn-icon form__btn-icon" type="button" data-modal-control="modal-info">
				{{mixins.icon('information', 'btn-icon__icon')}}
			</button>
			<button class="btn-icon btn-icon_red form__btn-icon" type="button" data-modal-control="modal-info" hidden>
				{{mixins.icon('warning', 'btn-icon__icon')}}
			</button>
		</div>
	</form>

{% endblock %}
