---
title: Modals
headerLogo: true
home: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% set modals = [
		{ target: 'modal-setup', file: 'setup' },
		{ target: 'modal-info', file: 'info' },
		{ target: 'modal-error', file: 'error' }
	] %}
	<ul>
		{% for item in modals %}
			<li>
				<a href="#" data-modal-control="{{item.target}}">{{item.target}}</a>
			</li>
		{% endfor %}
	</ul>

	{% for item in modals %}
		{% include 'partials/modals/_' + item.file + '.html' %}
	{% endfor %}
{% endblock %}
