<!-- begin header -->
<header class="header">
	{% if home %}
		<button class="header__home">
			{{mixins.icon('home')}}
		</button>
	{% else %}
		<button class="header__btn-nav" data-modal-control="modal-nav">
			<span></span>
		</button>
	{% endif %}
	<button class="header__btn-help">
		{{mixins.icon('question-option')}}
	</button>
	<div class="header__inner">
		<div class="header__title">{{headerTitle or 'Order Magic By'}}</div>
		{% if headerLogo %}
			<img src="img/{{headerLogoSrc or 'b2b-white.svg'}}" alt="{{headerLogoAlt or 'B2BSoft'}}" class="header__logo {% if headerLogoVendor %}header__logo_vendor{% endif %}">
		{% endif %}
	</div>
</header>
<!-- end header -->