<div class="description description_metro">
	<p class="text-center"><strong>Welcome to Order Magic</strong>, <br>your Inventory Management assistant</p>
	<p>Now you can:</p>
	<ul>
		<li>Create Alphacomm Purchase Orders in Wireless Standard - double entry no longer needed! </li>
		<li>Create and receive Idoo Purchase Orders into your Wireless Standard Inventory!</li>
	</ul>
	<p>Fully Mobile & Multi-Platform Access</p>
	<p>Sometimes your business needs a little Magic!</p>
	<div class="description__logos">
		<div class="description__logo description__logo_sm description__logo_wide">
			<img src="img/metropcs.svg" alt="MetroPCS">
		</div>
		<div class="description__logo description__logo_sm description__logo_inline description__logo_md description__logo_t-mobile">
			<img src="img/t-mobile.svg" alt="T-Mobile">
		</div>
		<div class="description__logo description__logo_sm description__logo_inline description__logo_md description__logo_alphacomm">
			<img src="img/alphacomm.svg" alt="Alphacomm">
		</div>
	</div>
	<div class="description__magic-cart">
		{{mixins.icon('magic-cart')}}
	</div>
</div>