{% macro icon(i, classList, name) %}
<svg class="icon icon-{{i}} {{classList}}"><use xlink:href="img/{{name or 'sprite'}}.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro group(props) %}
<div class="form-group {{props.classList}}">
	<div class="form-group__label {{props.labelClassList}}"><span>{{props.label | safe}}:</span></div>
	{% if props.btn %}
		<button class="btn btn_wide form-group__btn">{{props.btn}}</button>
	{% endif %}
	<div class="form-group__field">
		{% if props.switcher %}
			<div class="form-group__switcher">
				<label class="awesome-switcher">
					<input type="checkbox" checked>
					<span class="awesome-switcher__content">
						<span class="awesome-switcher__left">{{props.switcher.left}}</span>
						<span class="awesome-switcher__control"></span>
						<span class="awesome-switcher__right">{{props.switcher.right}}</span>
					</span>
				</label>
			</div>
		{% endif %}
		{% if props.value %}
			<div class="form-group__value">
				{% for item in props.value %}
					<p>{{item | safe}}</p>
				{% endfor %}
			</div>
		{% elif props.input %}
			{% if props.switcher %}
				<div class="form-group__input-wrapper">
					<input type="{{props.input.type or 'text'}}" class="input form-group__input" {{props.input.attrs | safe}}>
				</div>
			{% else %}
				<input type="{{props.input.type or 'text'}}" class="input form-group__input" {{props.input.attrs | safe}}>
			{% endif %}
		{% elif props.select %}
			{{select(props.select)}}
		{% elif props.radios %}
			<div class="form-group__row">
				{% for item in props.radios %}
					<div class="form-group__col">
						{{radio(item)}}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
{% endmacro %}

{% macro select(props) %}
<div class="select {{props.classList}}" data-select>
	<div class="select__header">
		{{icon('angle-down', 'select__arrow')}}
		<div class="select__value" data-select-value></div>
	</div>
	<div class="select__body">
		<ul class="select__list">
			{% for item in props.options %}
				<li class="select__option" data-select-option>{{item}}</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endmacro %}

{% macro radio(props) %}
<label class="radio">
	<input type="radio" name="{{props.name}}" {{props.inputAttrs | safe}}>
	<span class="radio__icon"></span>
	{% if props.title %}
		<span class="radio__title">{{props.title}}</span>
	{% endif %}
</label>
{% endmacro	 %}