<form action="/" class="form">
	<div class="form-group {{props.classList}}">
		<div class="form-group__label"><span>File:</span></div>
		<button class="btn btn_wide form-group__btn">Upload</button>
		<div class="upload form-group__field">
			<label class="file upload__file">
				<input type="file" class="file__input">
				<span class="file__field">Choose...</span>
			</label>
		</div>
	</div>
	<div class="form__description form__description_lg">
		<p>PDF and Excel formats are supported</p>
		<p>Excel template is available here. <a href="#">link</a></p>
	</div>
</form>