<div class="modal modal_sm" data-modal="modal-info">
	<div class="modal__container" data-modal-container>
		<button class="modal__close" data-modal-close>
			{{mixins.icon('close')}}
		</button>
		<div class="modal-content">
			<div class="modal-content__header">
				<div class="modal-content__title">Info: header</div>
			</div>
			<div class="modal-content__body">
				<p>Info: item 1</p>
				<p>Info: item 2</p>
				<p>Info: item 3</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque optio culpa architecto incidunt obcaecati quidem, sapiente officia quasi nihil consectetur.</p>
			</div>
			<div class="modal-content__footer">
				<button class="btn modal-content__btn" data-modal-close>OK</button>
			</div>
		</div>
	</div>
</div>