<div class="modal modal_md" data-modal="save-changes">
	<div class="modal__container" data-modal-container>
		<button class="modal__close" data-modal-close>
			{{mixins.icon('close')}}
		</button>
		<div class="modal-content">
			<div class="modal-content__header">
				<div class="modal-content__title">Save Changes?</div>
			</div>
			<div class="modal-content__body">
				<div class="info">
					<div class="info__text">
						<p>Do you want to save changes you've mado on this screen?</p>
					</div>
				</div>
			</div>
			<div class="modal-content__footer">
				<button class="btn modal-content__btn" data-modal-close>Yes</button>
				<button class="btn btn_gray modal-content__btn" data-modal-close>No</button>
				<button class="btn btn_gray modal-content__btn" data-modal-close>Cancel</button>
			</div>
		</div>
	</div>
</div>