.description
	padding: 40px
	margin: 0 auto
	max-width: 700px
	color: $darkGray
	font-size: 14px
	line-height: 1.3
	&_light
		color: #96969a
	&_sm 
		max-width: 340px
	&__title
		margin-bottom: 20px
		font-size: 16px
		line-height: 1.2
	&__footer
		padding-top: 20px
	&__icons
		margin: 0 -10px 30px
		font-size: 0
		text-align: center
	&__icon
		display: inline-block
		vertical-align: bottom
		margin: 0 10px
	&__cart
		fill: $blue
		font-size: 56px
	&__cloud
		fill: #797a7a
		font-size: 70px
	&__magic
		fill: $blue
		font-size: 70px
	&__logo
		display: block
		margin: 0 auto 30px
		width: 140px
	p,
	ul 
		&:not(:last-child)
			margin-bottom: 10px
	li 
		position: relative
		padding-left: 15px
		list-style-type: none
		&:not(:last-child)
			margin-bottom: 5px
		&:before
			content: ''
			position: absolute
			top: 6px
			left: 0
			border-radius: 50%
			width: 6px
			height: 6px
			background: $darkGray