.description
	padding: 20px 40px
	margin: 0 auto
	max-width: 700px
	color: $darkGray
	font-size: 14px
	line-height: 1.3
	+xs
		padding-left: 20px
		padding-right: 20px
	+hsm
		padding-top: 40px
		padding-bottom: 40px
	&_light
		color: #96969a
	&_sm 
		max-width: 340px
	&_metro
		color: #3a138a
		// color: #175062
	&__title
		margin-bottom: 20px
		font-size: 16px
		line-height: 1.2
	&__footer
		padding-top: 20px
	&__icons
		margin: 0 -10px 30px
		font-size: 0
		text-align: center
	&__icon
		display: inline-block
		vertical-align: bottom
		margin: 0 10px
	&__cart
		fill: $blue
		font-size: 56px
		+metro 
			fill: $metroSecondary
	&__cloud
		fill: #797a7a
		font-size: 70px
	&__magic
		fill: $blue
		font-size: 70px
		+metro 
			fill: $metroSecondary
	&__logo
		display: block
		margin: 0 auto 30px
		width: 140px
		&_inline
			display: inline-block
			vertical-align: middle
			margin: 0 20px
			+hsm
				margin: 0 10px
		&_sm
			width: 100px
			+hsm
				width: 120px
		&_wide
			margin-bottom: 15px
		&_t-mobile
			width: 90px
		&_alphacomm
			width: 110px
	&__logos
		padding: 10px 0
		font-size: 0
		text-align: center
		+ .description__magic-cart
			padding-top: 10px
	&__magic-cart
		text-align: center
		+hsm
			padding-top: 40px
		+ .description__logos
			padding-top: 20px
			+hsm
				padding-top: 40px
		svg
			fill: $blue
			font-size: 85px
			+hsm 
				font-size: 120px
			+metro 
				fill: $metroSecondary
	p,
	ul 
		&:not(:last-child)
			margin-bottom: 10px
	li 
		position: relative
		padding-left: 15px
		list-style-type: none
		&:not(:last-child)
			margin-bottom: 5px
		&:before
			content: ''
			position: absolute
			top: 6px
			left: 0
			border-radius: 50%
			width: 6px
			height: 6px
			background: $darkGray