.form
	padding: 20px 40px
	+sm
		padding: 20px
	&__submit
		text-align: center
		&_multiple
			padding-left: 70px
			+xs
				padding-left: 0
	&__btn
		max-width: 200px
		&:not(:last-child)
			margin-right: 20px
	&__description
		padding-top: 20px
		color: lighten($darkGray, 30%)
		font-size: 12px
		line-height: 1
		text-align: center
	&__text
		padding-bottom: 20px
		font-size: 15px
		line-height: 1.2
	&__row
		padding-top: 10px
		margin: 0 auto
		max-width: 420px
		font-size: 0
		text-align: center
		+xs
			margin: 0 -10px
			max-width: none
	&__col
		display: inline-block
		vertical-align: top
		padding: 0 10px
		width: 50%