.section
	background: $white
	box-shadow: 0 3px 7px 1px rgba($black, 0.1)
	&:not(:first-child)
		margin-top: 20px
	&__header
		position: relative
		padding: 20px 50px 20px 20px
		&.is-active
			.section__arrow
				transform: rotateX(180deg)
	&__title
		+f(20px, 500, 1.2)
		&:after
			content: ''
			display: block
			margin-top: 7px
			border-bottom: 2px solid rgba($darkGray, 0.3)
			max-width: 80px
	&__body
		padding: 0 20px 20px
	&__footer
		margin-top: 20px
		text-align: center
	&__btn
		max-width: 200px
	&__arrow
		position: absolute
		top: 50%
		right: 20px
		margin-top: -0.5em
		fill: $darkGray
		font-size: 12px
		transition: transform 0.25s