.icon-angle-down {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-angle-left {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gear-option {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-information {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logout-mark {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-question-option {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-warning {
  width: 1em;
  height: 1em;
  fill: initial;
}
