.icon-angle-down {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-angle-left {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-cogs {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logout {
  width: 0.84em;
  height: 1em;
  fill: initial;
}
.icon-question {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: #1D1D1B;
}
