.icon-angle-down {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1.17em;
  height: 1em;
  fill: #0089CA;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cloud {
  width: 0.8em;
  height: 1em;
  fill: #797A7A;
}
.icon-information {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-magic-cart {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-magic {
  width: 0.53em;
  height: 1em;
  fill: #0089CA;
}
.icon-mobile {
  width: 0.55em;
  height: 1em;
  fill: #4D4D4D;
}
.icon-next {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-prev {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: #4E4E4E;
}
.icon-sound {
  width: 1.11em;
  height: 1em;
  fill: #666;
}
.icon-warning {
  width: 1em;
  height: 1em;
  fill: initial;
}
