.icon-angle-down {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-angle-left {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1.17em;
  height: 1em;
  fill: #0089CA;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cloud {
  width: 0.8em;
  height: 1em;
  fill: #797A7A;
}
.icon-gear-option {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1.26em;
  height: 1em;
  fill: initial;
}
.icon-information {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logout-mark {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-magic {
  width: 0.53em;
  height: 1em;
  fill: #0089CA;
}
.icon-next {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-prev {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-put-in-cart {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-question-option {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-receiving {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: #4E4E4E;
}
.icon-warning {
  width: 1em;
  height: 1em;
  fill: initial;
}
